@font-face {
    font-family: "iconfont";
    /* Project id 2818536 */
    src: url('iconfont.woff2?t=1632124837810') format('woff2'), url('iconfont.woff?t=1632124837810') format('woff'), url('iconfont.ttf?t=1632124837810') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    top: 2px;
    font-size: 25px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuche:before {
    content: "\e619";
}